header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

div{
  border: 1px solid black;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right:12px;
}

.logo span{
  color: mediumaquamarine;
}

header nav{
  padding-right: 40px;
}

nav span{
  display:inline-block;
  padding: 20px 10px;
}

/**Below is main content css code**/
.content{
  display: flex;
}

.column{
  display: flex;
  margin-right: 32px;
}

div{
  border: 1px solid black;
}

.column .large{
  width: 630px;
}

.column .medium{
  width: 300px;
}

.column .small{
  width: 240px;
}

/* Add images - Step 3*/
image-content{
  height: 300px;
  margin-top: 50px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
